:root{
    background-color: whitesmoke;
}

header {
    height: 200px;
    width: auto;
    background-color: red;
    color: white;
    text-align: center;
    border-color: aliceblue;
}

h1 {
    text-align: center;
}